<h2 class="language-nav">
    <ul>
        <a>CSS</a>
        <a>HTML</a>
        <a>Javascript</a> 
        <a>Ruby</a>
    </ul>
</h2>

<img src="/assets/AA_Times_Logo.png">

<h3 class="masthead-links">
    <ul>
        <button>Tuesday, October 18, 2016</button>
        <button>Today’s Paper</button>
        <button>Video</button>
        <button>77°F</button>
        <button>AAO +100%</button>
    </ul>
<h3>