.main-nav {
  display: flex;
  // justify-content: center;
  justify-content: left;
  padding: 10px; 
  border: 1px;
  border-color: black;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  // flex-direction: row-reverse;
  // justify-content: space-between;
}

.left-nav {

  > ul {
    > li {
      // font-family: ;
      // font-size: ;
      text-transform: uppercase;
      // margin: 0 10px 0 10px;
      
      
    }
  }

  span {
    margin: 0 0 0 10px;
  }
}

.right-nav  {

  > ul {

    > li {
  
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    font-size: 16px;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
