.sections-nav ul {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;

    li {
        padding: 5px 8px;

        a:hover {
            background-color: $light-gray;
            text-decoration: none;
        }
    }

}

.all-link {
    text-transform: uppercase;
    font-size: 8px;
    align-self: center;
}

.all-link:hover {
    text-decoration: underline;
}